{% extends 'base.html' %}

{% block title %}Contraseña Cambiada | Delivery NATIVO{% endblock %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-6 text-center">
        <div class="alert alert-success p-5 shadow-sm">
            <i class="fas fa-check-circle fa-4x mb-3 text-success"></i>
            <h3 class="fw-bold">¡Contraseña restablecida!</h3>
            <p>Tu contraseña ha sido cambiada exitosamente.</p>
            <a href="{% url 'login' %}" class="btn btn-danger fw-bold mt-3">Iniciar Sesión</a>
        </div>
    </div>
</div>
{% endblock %}